<!--<div>{{state.login}} {{state.pass}}</div>-->

<!--<input #xxx>-->
<!--<button (click)="changeState(xxx)">save</button>-->

<!--<input [(ngModel)]="state.login" >-->
<!--<input [(ngModel)]="state.pass" >-->


<!--<form>-->
<!--  <div>-->
<!--    <label>LOGIN</label>-->
<!--    <input type="text" [(ngModel)]="loginForm.login" name="login" required pattern="[a-zA-Z]">-->
<!--  </div>-->
<!--  <div>-->
<!--    <label>PASSWORD</label>-->
<!--    <input type="password" [(ngModel)]="loginForm.password" name="password" pattern="[0-9]">-->
<!--  </div>-->
<!--</form>-->

<!--<form [formGroup]="forma">-->
<!--  <div><input formControlName="login"></div>-->
<!--  <div *ngIf="forma.controls['login'].invalid">login is required</div>-->
<!--&lt;!&ndash;  <div><input [formControl]="password"></div>&ndash;&gt;-->
<!--  <div><input formControlName="password"></div>-->
<!--  <div *ngIf="forma.controls.password.invalid">pass is required</div>-->
<!--&lt;!&ndash;  <button (click)="checkState(forma)" [disabled]="forma.invalid" >save</button>&ndash;&gt;-->
<!--</form>-->


<form [formGroup]="form">
  <div><input formControlName="id" type="number"></div>
  <div><input formControlName="title"></div>
  <div><input formControlName="body"></div>
  <div><select formControlName="type">
    <option value="hight">hight</option>
    <option value="medium">medium</option>
    <option value="low">low</option>
  </select></div>
  <button (click)="save()">SAVE</button>
</form>

<app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo>
